body {
    background-color: #e5f0f9;
    font-family: "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

h1 {
    margin-block-start: 0
}

#sidebar {
    width: 25rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
}

.content {
    background-color: white;
    padding: 1rem;
    border: 5px solid #a6c9e2;
    border-radius: 5px;
    margin: 1rem 0;
    display: block;
}